node_modules

server/node_modules

client/www/
client/*~
client/*.sw[mnpcod]
client/*.log
client/*.tmp
client/*.tmp.*
client/log.txt
client/*.sublime-project
client/*.sublime-workspace
client/.vscode/
client/npm-debug.log*
client/.firebase/
client/.idea/
client/.sourcemaps/
client/.sass-cache/
client/.tmp/
client/.versions/
client/coverage/
client/dist/
client/node_modules/
client/tmp/
client/temp/
client/hooks/
client/platforms/
client/plugins/
client/plugins/android.json
client/plugins/ios.json
client/$RECYCLE.BIN/
client/.DS_Store
client/Thumbs.db
client/UserInterfaceState.xcuserstate